table.main{
	width:920px;
	height:550px;
}
td{
	vertical-align:top;
}
p.outputR{
	width:240px;
	text-align:left;
	padding-left:30px;
}
td.title{
	text-align:center;
	font-style:bold;
	font-size:1.2em;
}
ul.